@import 'src/app/mixins.scss';


.search-container {
  display: flex;
  justify-content: space-between;

  .search-input{
    width: 600px;
    border-radius: 5px;
    outline: none;
    border: 1px solid $black;
    padding-left: 10px;
      @include breakpoint(phablet) {
        width: 300px;
      }

      @include breakpoint(mobile) {
        width: 200px;
      }
  }
}

.edit-input {
  border-radius: 5px;
  outline: none;
  border: 1px solid $black;
  padding-left: 10px;
}

.customer-container {
  cursor: pointer;
}

.customer-container th {
  padding: .75rem 0;
}


.btnsPanel {
  padding: 0;
}

.display-4 {
  font-size: 2.5rem;
  margin-top: 10px;
}

.side-panel {
  display: flex;
  align-content: center;
  flex-flow: column;
  margin-bottom: 20px;
    @include breakpoint(tablet) {
      display: none;
    }
}

.nav-title {
  border-top: #dee2e6;
  border-bottom: #dee2e6;
  margin: 0;
  font-size: 30px;
  padding-bottom: 12px;
}

.table-container {
  text-align: center;
  overflow: auto;
  font-size: 16px;

    @include breakpoint(tablet) {
      font-size: 13px;
    }
    @include breakpoint(phablet) {
      font-size: 11px;
    }
    @include breakpoint(mobile) {
      font-size: 9px;
    }
}

.show {
  display: block;
}

.small {
  display: none;
  border-radius: 50%;
    @include breakpoint(tablet) {
      display: block;
    }

    @include breakpoint(phablet) {
      display: block;
    }

    @include breakpoint(mobile) {
      display: block;
    }
}

.big {
  display: block;

  @include breakpoint(tablet) {
    display: none;
  }

  @include breakpoint(phablet) {
    display: none;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}
